<div class="wrapper">

  <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">

        <div>
          <label for="firstName">First Name</label>
          <input type="text" id="firsName" formControlName="firstName" required>
          <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
            <div *ngIf="firstName.hasError('required')" class="error">
              <p>Please go away 🤬</p>
            </div>
          </div>

        </div>

        <div>
          <label for="lastName">First Name</label>
          <input type="text" id="lastName" formControlName="lastName" required>
          <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
            <div *ngIf="lastName.hasError('required')" class="error">
              <p>And don't come back 😁</p>
            </div>
          </div>
        </div>

        <div>
          <app-custom-form-input formControlName = "address"></app-custom-form-input>
          <div *ngIf="address.invalid && (address.dirty || address.touched)">
            <div *ngIf="address.hasError('required')" class="error">
              <p>Go GO GO 😁</p>
            </div>
          </div>
        </div>


        <div>
          <button [disabled]="!form.valid">Submit</button>
        </div>
  </form>

</div>
