/* You can add global styles to this file, and also import other style files */
input{
  display: block;
  width: 350px;
  height: 30px;
  font-size: 1rem;
  line-height: 1.5;
  color: rgb(136,152,170);
  box-shadow: none;
  padding: 0.6rem 0.75rem;
  border-width: 1px;
  border-style:solid;
  border-color: rgb(202,209,215);
  border-radius: 0.25rem;
  transition: all 0.2s;
  margin-top: 0.5rem;

  &:focus{
    border-color: rgb(185,179,179);
    outline: none;
  }
}

label{
  color: rgb(116,130,146);
}

.error{
  color: rgb(206,46,46);
}

button{
  display: block;
  color: rgb(255,255,255);
  background-color: rgb(94,114,228);
  box-shadow: rgba(50, 50, 93, 0.11) 0px 4px 6px,
   rgba(0,0,0,0.08) 0px 1px 3px;
   border-color: rgb(94,114,228);
   outline: none;
   border: 0;
   height: 35px;
   border-radius: 0.25rem;
   width: 100%;
   cursor: pointer;

   &:disabled{
    background: #dddddd;
    cursor: not-allowed;
   }
  }
